.signInStyle{
    /* background-image: linear-gradient(to right #b8cbb8 0%, #b8cbb8 0%,   100% ); */
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=4f74df&c2=69c879&gt=l&gd=dtl
*/
background: #4F74DF;
background: linear-gradient(135deg, #4F74DF, #69C879);
/* height: 100vh; */
/* border:5px solid red; */
justify-content: center;
}

.signinBtn{
    background: #4F74DF;
    background: linear-gradient(135deg, #4F74DF, #69C879);
}

.signinBtn:hover{
    transform: scale(1.07);
    transition: 0.3s;
 }
 

.sign-Btn{
    background: #4F74DF;
    background: linear-gradient(135deg, #4F74DF, #69C879);
    text-align:center;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 3% 0;
}


.signup-Btn{
    transform: scale(1.07);
    transition: 0.3s;
 }

 .sign-Btn:hover{
    transform: scale(1.07);
    transition: 0.3s;
 }

.formLabel{
    font-size: 15px;
    padding-top: 3%;
}

.signinCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding: 2% 5%;
   border-radius: 10px;
}

.signinCard2{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5% 0%;
    border-radius: 10px;
}

.signupinBtn:hover{
    border-color: #5fc270;
    transform: scale(1.07);
    transition: 0.3s;
 }
 
 .signupinBtn{
    border-radius: 50px;
    padding: 7px 0;
    border:2px solid  #4F74DF;
    cursor:pointer;
    border-radius: 10px;
 }
.message{
    font-size: 17px;
}
.smallSideRow{
    padding:0px 15px;
    margin-bottom: 20px;
}

.sideBarStyle {
    transition: width 0.3s ease;
    min-height: 100vh;
    background-color: #4e73df;
    text-align: start;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  .studentTitleIcon{
    font-size: 45px;
  }

  .dashTitle{
    font-weight: bold;
    text-wrap: none;
  }

  .dashRow{
    border-bottom: 1px solid #bfbfbf;
  }

.sign-Btn{
    font-size: 10px;
    border-radius: 8px;
}
 

  .sidebarIcons{
    color:white;
  }


.socialIcons{
    font-size: 100px;
}

.signupCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 5%;
    border-radius: 10px;
}

.socialIcon:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* *{
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
} */

/* .iconStyle:hover{
    color:white;
} */

.dashRow:hover{
    color:white !important;
}

.dashRow{
   /* background-color: black; */
   /* color:"purple" */
   cursor: pointer;
   text-align:start;
   border-bottom: 1px solid #bfbfbf;
   color: #bfbfbf;
   padding: 10.5% 0%;
   justify-content: center;
   align-items: center;
   background-color:transparent;
   font-size:17px
}

.dashRowComponent{
    /* background-color: black; */
    /* color:"purple" */
    cursor: pointer;
    text-align:start;
    border-bottom: 1px solid #bfbfbf;
    color: #bfbfbf;
    padding: 5% 0%;
    background-color:transparent;
    font-size:17px
 }

.styleTableRowHover:hover{
    background-color: grey  !important;
    cursor: pointer;
    color:"red" !important;
}

.sidebarItem:hover{
    color: #4e73df;
    font-weight: bold;
}

.sidebarItem{
font-size: 90%;
width:100%;
text-align:start;
padding:3% 10%;
}

.arrowIcon{
    display:block;
    /* display: flex;
    justify-content: end; */
    border:1px solid red;
}

.MdGridViewIcon:hover + .arrowIcon{
    display: block;    
}

.MdGridViewIcon:hover + .conponentDiv{
    padding: 0px;
}

.smallSidebarIcon{
    /* border: 1px solid greenyellow; */
    color: white;
    font-size: 45px;
    cursor: pointer;
    justify-content: start;
    display: flex;
}

.portalIcon{
    text-align: center;
    color: white;
    font-size: 50px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    background-color:darkblue;
    border-radius:5px;
}


.smallSidebarIcon:hover{
    transform: scale(1.09);
    transition: 0.3s;
    background-color:#809ae7;
    border-radius: 5px;
    color:#2c51c1;
}

.component-icon{
    font-size: 33px;
    color: white;
    /* border: 1px solid; */
    /* width: 100%; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 7%;   
}

.component-icon:hover{
    background-color: #809ae7;
    border-radius: 5px;
    color:#2c51c1;
}

