/* ===== Sign In & Sign Up Styles ===== */
.signInStyle {
  background: linear-gradient(135deg, #4F74DF, #69C879);
  justify-content: center;
}

.signinBtn,
.sign-Btn {
  background: linear-gradient(135deg, #4F74DF, #69C879);
}

.signinBtn:hover,
.sign-Btn:hover,
.signup-Btn:hover {
  transform: scale(1.07);
  transition: 0.3s;
}

.sign-Btn {
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 3% 0;
  font-size: 10px;
  border-radius: 8px;
}

.formLabel {
  font-size: 15px;
  padding-top: 3%;
}

.signinCard,
.signupCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 5%;
  border-radius: 10px;
}

.signinCard2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5% 0%;
  border-radius: 10px;
}

.signupinBtn {
  border-radius: 10px;
  padding: 7px 0;
  border: 2px solid #4F74DF;
  cursor: pointer;
}

.signupinBtn:hover {
  border-color: #5fc270;
  transform: scale(1.07);
  transition: 0.3s;
}

.message {
  font-size: 17px;
}



.studentTitleIcon {
  font-size: 45px;
}

.dashTitle {
  font-weight: bold;
  text-wrap: none;
}

.sidebarIcons {
  color: white;
}

.socialIcons {
  font-size: 100px;
}

.socialIcon:hover {
  transform: scale(1.1);
  transition: 1.5s;
}



.dashRowComponent {
  cursor: pointer;
  text-align: start;
  border-bottom: 1px solid #bfbfbf;
  color: #bfbfbf;
  padding: 5% 0%;
  background-color: transparent;
  font-size: 17px;
}

.styleTableRowHover:hover {
  background-color: grey !important;
  cursor: pointer;
}


.studentLogin {
  background-color: rgb(233, 240, 253);
  border-radius: 3%;
}





.smallSidebarIcon:hover {
  transform: scale(1.1);
  transition-duration: 1.1s;
  background-color: #809ae7;
  border-radius: 5px;
  color: #2c51c1;
}

.arrowIcon {
  opacity: 0;
  transition: opacity 250ms 300ms;
}
.smallSidebarIcon:hover + .arrowIcon {
  opacity: 1;
  transition-delay: 200ms;
}

.component-icon {
  font-size: 35px;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.backgroundDesign {
  width: 100%;
  background-color: #efeff5;
  display: flex;
  flex-direction: column;
}

.dropdown-toggle::after {
  display: none !important;
}

.signOut {
  font-size: 30px !important;
  color: rgb(127, 4, 4) !important;
}
.signOut:hover {
  background-color: darkblue !important;
}

.commonButton {
  background-color: #4e73df !important;
  color: white !important;
  margin: 10px 0px;
}

.tableTitle {
  color: #4e73df;
  border-bottom: 2px solid #e3e6f0;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
}
